<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>weight</name>
	<displayName><![CDATA[show weight]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[show weight of your cart]]></description>
	<author><![CDATA[globalworming]]></author>
	<tab><![CDATA[smart_shopping]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
